# Visual Studio / .NET
.vs/                  
bin/                 
obj/                  
*.user                
*.suo                 
*.log                
*.nlog
*.vsidx               
/README.md
